@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
</div>
<h1>bikeitorhikeit.net</h1>
<p class="lead">Adventures powered by your legs and your imagination.</p>

<div class="row">
    <div class="col-md-4">
        <h2>County Town Challenge</h2>
        <p>You are challenged to visit as many county towns as possible, by bicycle.</p>
        <p>@Html.ActionLink("Take the challenge...", "Index", "Home", new { area = "CTC", @class="btn btn-default" }, null)</p>
    </div>
</div>